.white-arrow {
  height: 100px;
  display: block;
  margin-top: 230px;
  margin-left: auto;
  margin-right: auto;
}

.push-button {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
